streamlit
catboost

##### Core scientific packages
jupyter==1.0.0
matplotlib==3.3.4
numpy==1.22.0
pandas==1.2.2
scipy==1.6.0

##### Machine Learning packages
scikit-learn==0.24.1

# Efficient jobs (caching, parallelism, persistence)
joblib==0.14.1

# Nice utility to diff Jupyter Notebooks.
nbdime==2.1.1

# May be useful with Pandas for complex "where" clauses (e.g., Pandas
# tutorial).
numexpr==2.7.2

# Optional: these libraries can be useful in the classification chapter,
# exercise 4.
nltk==3.6.6
urlextract==1.2.0
